<!DOCTYPE html>
<html>
    <head>
        <!-- Set base href for the router -->
        <base href="/">
        <!-- The 3 meta tags below *must* come first in the head; any other head content must come *after* these tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title -->
        <title>Spreza Transcribe</title>
        <!-- Favicon -->
        <link rel=icon href=img/favicon.png sizes="32x32" type="image/png">
        <!-- External Stylesheets -->
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/bootflat/bootflat/css/bootflat.min.css">
        <link rel="stylesheet" href="libs/toastr/build/toastr.min.css">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="libs/bootstrap-select/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="css/spreza.min.css">
        <!-- Google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
    </head>
    <body>
        <app>
            <!-- Loading indicator -->
            <div class="container">
                <div class="loading-indicator text-center">
                    <h3>
                        <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                    </h3>
                    <h2 class="no-margin-top no-margin-bottom">Loading ...</h2>
                </div>
            </div>
        </app>
    </body>
    <!-- External libraries -->
    <script src="libs/socket.io-client/socket.io.js"></script>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/toastr/build/toastr.min.js"></script>
    <script src="libs/wavesurfer.js/dist/wavesurfer.js"></script>
    <script src="libs/bootflat/bootflat/js/icheck.min.js"></script>
    <script src="libs/bootflat/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="libs/bootflat/bootflat/js/jquery.fs.stepper.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script>
    <!-- INJ_APP_CODE -->
</html>
