<!-- Footer -->
<div class="footer" [ngClass]="{'footer-spacing': isTranscriptPage}">
    <div class="container">
        <div class="clearfix">
            <dl class="footer-nav">
                <dt class="nav-title">ABOUT</dt>
                <dd class="nav-item"><a href="javascript:void(0);">Our Company</a></dd>
                <dd class="nav-item"><a href="javascript:void(0);">Support</a></dd>
                <dd class="nav-item"><a href="javascript:void(0);">Contact</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">FOLLOW US</dt>
                <dd class="nav-item"><a href="https://spreza.slack.com"><i class="fa fa-slack" aria-hidden="true"></i> Slack</a></dd>
                <dd class="nav-item"><a href="https://www.twitter.com/sprezaco"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></dd>
                <dd class="nav-item"><a href="https://www.facebook.com/sprezaco"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></dd>
                <dd class="nav-item"><a href="https://www.instagram.com/sprezaco/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">LEGAL</dt>
                <dd class="nav-item"><a routerLink="/about/privacy">Privacy Policy</a></dd>
                <dd class="nav-item"><a routerLink="/about/tos">Terms of Service</a></dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">
            Copyright &copy; 2016 Spreza Technologies, Inc.
        </div>
    </div>
</div>
