<!-- Navigation bar -->
<navbar></navbar>
<!-- Main content -->
<div class="container">
    <br>
    <div class="well text-center">
        <!-- Page header title -->
        <h1>
            <i class="fa fa-chain-broken fa-lg" aria-hidden="true"></i>
            Page Not Found
        </h1>
        <!-- Page information -->
        <p class="medium">
            Sorry, the page you have requested could not be found. Either the link was mistyped or the page does not exist.
        </p>
        <p class="medium">
            Need assistance? Contact us at
            <a href="mailto:info@spreza.co">
                <b>
                    info@spreza.co
                </b>
            </a>
        </p>
        <!-- Home redirect button -->
        <div>
            <button routerLink="/" type="submit" class="btn btn-lg btn-success">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
            </button>
        </div>
    </div>
</div>
<!-- Footer -->
<footer></footer>
