<!-- Navigation bar -->
<navbar></navbar>
<!-- Main content -->
<div class="container">
    <br>
    <div class="well">
       <div class="row">
           <div class="col-md-6 col-md-offset-3">
               <!-- Page header title -->
               <div class="text-center">
                   <h3 class="no-margin-top">Create your Spreza Account</h3>
                   <h5>New to Spreza? Sign Up (It's free)</h5>
               </div>
               <!-- Signup form section -->
               <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
                   <!-- Name field -->
                   <div class="form-group" [ngClass]="{'has-error': !signupForm.controls['name'].valid && signupForm.controls['name'].value}">
                       <label class="control-label">Your Name</label>
                       <div class="input-group">
                           <span class="input-group-addon">
                               <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                           </span>
                           <input id="name" type="text" class="form-control" placeholder="eg: John" formControlName="name">
                       </div>
                       <template [ngIf]="!signupForm.controls['name'].valid && signupForm.controls['name'].value">
                           <p class="text-error">
                               Minimum 3 characters
                           </p>
                       </template>
                   </div>
                   <!-- Email field -->
                   <div class="form-group" [ngClass]="{'has-error': !signupForm.controls['email'].valid && signupForm.controls['email'].value}">
                       <label class="control-label">Your Email</label>
                       <div class="input-group">
                          <span class="input-group-addon">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                          </span>
                          <input id="email" type="email" class="form-control" placeholder="eg: john@example.com" formControlName="email">
                      </div>
                      <template [ngIf]="!signupForm.controls['email'].valid && signupForm.controls['email'].value">
                          <p class="text-error">
                              Please enter a valid email address
                          </p>
                      </template>
                  </div>
                  <!-- Password field -->
                   <div class="form-group" [ngClass]="{'has-error': !signupForm.controls['password'].valid && signupForm.controls['password'].value}">
                       <label class="control-label">Your Password</label>
                       <div class="input-group">
                          <span class="input-group-addon">
                              <i class="fa fa-key" aria-hidden="true"></i>
                          </span>
                          <input id="password" type="password" class="form-control" placeholder="eg: ************" formControlName="password">
                      </div>
                      <template [ngIf]="!signupForm.controls['password'].valid && signupForm.controls['password'].value">
                          <p class="text-error">
                              Minimum 8 characters with at least 1 letter and 1 number
                          </p>
                      </template>
                   </div>
                   <!-- Confirm Password field -->
                   <div class="form-group" [ngClass]="{'has-error': !signupForm.controls['confirmPassword'].valid && signupForm.controls['confirmPassword'].value}">
                       <label class="control-label">Confirm Your Password</label>
                       <div class="input-group">
                          <span class="input-group-addon">
                              <i class="fa fa-key" aria-hidden="true"></i>
                          </span>
                          <input id="confirmPassword" type="password" class="form-control" placeholder="eg: ************" formControlName="confirmPassword">
                      </div>
                      <template [ngIf]="!signupForm.controls['confirmPassword'].valid && signupForm.controls['confirmPassword'].value">
                          <p class="text-error">
                              Both passwords must match
                          </p>
                      </template>
                   </div>
                   <!-- Helpful information -->
                   <p>
                       <small>
                           By clicking Sign Up, you agree to our <a routerLink="/about/tos">Terms of Service</a> and <a routerLink="/about/privacy"> Privacy Policy</a>
                       </small>
                   </p>
                   <!-- Form submit button -->
                   <div class="text-center">
                       <template [ngIf]="!isButtonActive">
                           <button type="submit" class="btn btn-block btn-success">
                               <i class="fa fa-user-plus" aria-hidden="true"></i>
                               Sign Up
                           </button>
                       </template>
                       <template [ngIf]="isButtonActive">
                           <button type="submit" class="btn btn-block btn-normal disabled">
                               <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
                               Sign Up
                           </button>
                       </template>
                   </div>
                </form>
           </div>
       </div>
    </div>
</div>
<!-- Footer -->
<footer></footer>
